@use './global/sizes';
@use './global/devices-max-width';

.storybook-searcher {
  display: flex;
  width: devices-max-width.$desktop;

  & .field {
    padding: sizes.$m;
    width: 100%;
    border-radius: sizes.$m;
    border: 1px solid lightgray;
  }

  & .button {
    margin-left: sizes.$s;
  }
}
